<div class="container">
    <h3><span class="glyphicon glyphicon-bullhorn"></span>Announcements</h3>
    <div class="board-announcements post-stream">
        <% @announcements.each do |announcements| %>
        <div class="col-lg-12 stream_title">
            <a href="/announcements/<%= announcements.id.to_s %>"><h4><%= announcements.title %></h4></a>
            <div>Made: <%= time_ago_in_words(announcements.created_at) %> ago</div>
        </div>
        <% end %>
    </div>
    <a href="/announcements/">View Announcements</a>
</div>
<div class="container">
    <h3><span class="glyphicon glyphicon-th-list"></span>Forum</h3>

    <div class="container-fluid">
        <% @boards.each do |board| %>
                <div class="col-md-4 board-title">
                    <h3><a href="/board/<%= board.id %>/streams/"><%= board.name %></a></h3>
                    <p>Threads: <%= board.streams.length %></p>
                </div>
        <% end %>
    </div>
</div>
<div class="container">
    <h3><span class="glyphicon glyphicon-fire"></span>Recent Threads</h3>

    <div class="container-fluid">
        <% @hot_threads.each do |thread| %>
                <div class="col-md-4">
                    <h3><a href="/board/<%= thread.board_id %>/streams/<%= thread.id %>"><%= thread.title %></a></h3>
                    <p>Board: <%= Board.find_by_id(thread.board_id).name %> </p>
                </div>
        <% end %>
    </div>
</div>

<div class="container container-fluid navbar-fixed-bottom bot-nav">
    <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <% if current_user.role == 0 %>
                <li><a href="/announcements/new"/>New Announcement<span class="glyphicon glyphicon-edit"></span></a></li>
                <li><a href="/board/new">New Board<span class="glyphicon glyphicon-plus"></span></a></li>
            <% end %>
        <% end %>
    </ul>
</div>
