<!-- Announcements -->
<div class="container">
    <h3><span class="glyphicon glyphicon-bullhorn"></span>Announcements</h3>
    <div class="board-announcements post-stream">
        <% @announcements.each do |announcements| %>
        <div class="col-lg-12 stream_title">
            <a href="/announcements/<%= announcements.id.to_s %>"><h4><%= announcements.title %></h4></a>
            <div>Made: <%= time_ago_in_words(announcements.created_at) %> ago</div>
        </div>
        <% end %>
    </div>
    <a href="/announcements/">View Announcements</a>
</div>

<!-- Boards -->
<div class="container">
    <h3><span class="glyphicon glyphicon-th-list"></span>Forum</h3>

    <div class="container-fluid">
        <% @boards.each do |board| %>
            <div class="col-md-4 board-title">
                <% if board.locked? %>
                    <span class="board_status lock glyphicon glyphicon-lock" id="<%= board.id %>"></span>
                    <%= link_to '<span class="board_status glyphicon glyphicon-lock"></span>'.html_safe, board_lock_path(board_id: board.id),
                        method: :post %>
                <% end %>
                <h3><a href="/board/<%= board.id %>/streams/"><%= board.name %></a></h3>
                <p>Threads: <%= board.streams.length %></p>
                <p><a href="/board/<%= board.id %>/rules/">View Rules</a></p>

                    <% if validate_mod %>
                    <div class="admin-tools">
                        <p><a href="/board/<%= board.id %>/moderation/"><span class="glyphicon glyphicon-wrench"></span>View Moderation log</a></p>
                        <% if validate_admin %>
                            <%= link_to '<span class="glyphicon glyphicon-wrench"></span>Delete Board'.html_safe,
                                board_path(id: board.id),
                                method: :delete,
                                data: {confirm: 'Are you sure?'} %>
                            <% if board.locked == false %>
                                <%= link_to '<span class="glyphicon glyphicon-wrench"></span>Lock Board'.html_safe, board_lock_path(board_id: board.id),
                                    method: :post %>
                            <% end %>
                        <% end %>
                    </div>
                    <% end %>
                </div>
        <% end %>
    </div>
</div>

<!-- Recent Threads -->
<div class="container">
    <h3><span class="glyphicon glyphicon-fire"></span>Recent Threads</h3>

    <div class="container-fluid">
        <% @hot_threads.each do |thread| %>
                <div class="col-md-4">
                    <h3><a href="/board/<%= thread.board_id %>/streams/<%= thread.id %>"><%= thread.title %></a></h3>
                    <p>Board: <%= Board.find_by_id(thread.board_id).name %> </p>
                </div>
        <% end %>
    </div>
</div>

<!-- Bottom Navigation -->
<div class="container container-fluid navbar-fixed-bottom bot-nav">
    <ul class="nav navbar-nav navbar-right">
        <% if validate_mod %>
            <li class="admin-controls admin-button"><a><span class="glyphicon glyphicon-wrench"></span></a></li>
        <% end %>
        <% if validate_admin %>
            <li><a href="/announcements/new"/>New Announcement<span class="glyphicon glyphicon-edit"></span></a></li>
            <li><a href="/board/new">New Board<span class="glyphicon glyphicon-plus"></span></a></li>
        <% end %>
    </ul>
</div>


<% if validate_admin == true %>
<script>
    lockBoard();
    deleteBoard();
</script>
<% end %>
