<div class="container">
    <div class="col-md-3 username board-title">
        <h1><%= @user.name %></h1>
        <h4><%= @role %></h4>
        <h4>Posts: <%= @user.streams.count %></h4>
        <h4>Comments: <%= @user.posts.count %></h4>
        <h4> Reputation: </h4>
        <h4>
            <span class="glyphicon glyphicon-thumbs-up"></span><%= @thumbup %>
            <span class="glyphicon glyphicon-thumbs-down"></span><%= @thumbdown %>
        </h4>
        <% if validate_admin %>
            <% if @user.role == 0 %>
            <% elsif @user.role == 1 %>
                <a><h4 class="demote-mod" id="<%= @user.id %>"><span class="glyphicon glyphicon-tower"></span>Demote Moderator</h4></a>
            <% else %>
                <a href="#"><h4 class="make-mod" id="<%= @user.id %>"><span class="glyphicon glyphicon-tower"></span>Make Mod</h4></a>
                <a href="#"><h4 class="ban" id="<%= @user.id %>"><span class="glyphicon glyphicon-ban-circle"></span>
                <% if @user.banned? %>
                    Remove Ban from User
                <% else %>
                    Ban User
                <% end %>
            <% end %>
            </h4></a>
        <% end %>
    </div>

    <!-- begin post history -->
    <div class="col-md-8 ">
        <h2> Post History</h2>
        <div class="post-history col-md-12">
            <% @posts.each do |posts| %>
                <div class="row card">
                    <div class="col-md-9">
                        <h4><a href="/board/<%= posts.board_id %>/streams/<%= posts.stream_id %>#<%=posts.id %>">
                            <%= posts.stream.title %>
                        </a></h4>
                    </div>
                    <div class="post-content col-lg-9">
                        <p><%= markdown(posts.content) %></p>
                        <div class="post-footer">Posted <%= time_ago_in_words(posts.created_at) %> ago</div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
    <!-- end post history -->
</div>


<% if validate_admin %>
    <script>
        addMod();
        banUser();
    </script>
<% end %>
