<div class="container">
    <h1><%= @board.name %> </h1>
</div>
<div class="container ">
    <h4><a href="/board/<%= @board.id %>/rules/">Board Rules</a></h4>
    <% unless @streams.any? %>
        <h4> No threads. :( </h4>
        <h4> Click <a href="/board/<%= @board.id %>/streams/new">here</a> to start a new one! </h4>
    <% end %>
        <div class="container-fluid">
        <% @streams.each do |streams| %>
            <div class="stream_title">
                <h3>
                    <% if streams.is_stickied? %>
                        <span class="stream_status ticky glyphicon glyphicon-paperclip"></span>
                    <% end %>
                    <% if streams.locked? %>
                        <span class="stream_status lock glyphicon glyphicon-lock"></span>
                    <% end %>
                    <a href="/board/<%= @board.id %>/streams/<%= streams.id %>"><%= streams.title %></a>
                </h3>

                <div>
                    By: <%= @users.find(streams.user_id).name %></br>
                    Posted <%= time_ago_in_words(streams.created_at) %> ago
                </div>
            </div>
        <% end %>
    </div>
    <div class="page">
        <%= will_paginate @streams, inner_window: 2, outer_window: 2 %>
        <div>
            <%= page_entries_info @posts %>
        </div>
    </div>
</div>

<nav class="container navbar-fixed-bottom bot-nav" role="navigation">
        <ul class="nav navbar-nav navbar-left hidden-sm hidden-xs">
            <li><a href="/board/"/><span class="glyphicon glyphicon-step-backward"></span> Back to Boards</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="hidden-md hidden-lg"><a href="/board/"/><span class="glyphicon glyphicon-step-backward"></span> Back to Boards</a></li>
            <li><a href="/board/<%= @board.id %>/streams/new"><span class="glyphicon glyphicon-edit"></span>New Thread</a></li>
        </ul>
</nav>
