<div>
    <div class="container">
        <!-- Thread Status Indicators -->
        <% if validate_mod %>
            <% if @stream.is_stickied == true %>
                <h2>
                    <%= link_to '<span class="stream_status glyphicon glyphicon-paperclip"></span>'.html_safe, board_stream_sticky_path(stream_id: @stream.id),
                        method: :post %>
                    </h2>
            <% end %>
            <% if @stream.locked == true %>
                <h2>
                    <%= link_to '<span class="stream_status glyphicon glyphicon-lock"></span>'.html_safe, board_stream_lock_path(stream_id: @stream.id),
                        method: :post %>
                    <% end %>
                </h2>
        <% else %>
            <% if @stream.is_stickied == true %>
                <h2><span class="stream_status sticky glyphicon glyphicon-paperclip" id="<%= @stream.id %>" ></span></h2>
            <% end %>
            <% if @stream.locked == true %>
                <h2><span class="stream_status lock glyphicon glyphicon-lock" id="<%= @stream.id %>" ></span></h2>
            <% end %>
        <% end %>

        <h1>
            <%= @stream.title %>
        </h1>


        <% if validate_mod %>
            <div class="admin-tools">
                <!-- Moderation Controls -->
                <a><span class="glyphicon glyphicon-trash"></span>
                <%= link_to 'Remove Thread', board_stream_path(id: @stream.id),
                    method: :delete,
                    data: {confirm: 'Are you sure?'} %>
                </a>
                <% if  @stream.is_stickied == false %>
                    <%= link_to '<span class="glyphicon glyphicon-paperclip"></span> Sticky Thread'.html_safe, board_stream_sticky_path(stream_id: @stream.id),
                        method: :post %>
                <% end %>
                <% if @stream.locked == false %>
                    <%= link_to '<span class="glyphicon glyphicon-lock"></span> Lock Thread'.html_safe, board_stream_lock_path(stream_id: @stream.id),
                        method: :post %>
                <% end %>
            </div>
        <% end %>


        <div>
            Posted by: <%= @users.find_by_id(@stream.user_id).name %>
        </div>
        <div class="post-stream col-md-12">
            <% @posts.each do |posts| %>
                <div class="row card">
                    <!-- Handling the votes on posts -->
                    <div class="col-md-1">
                        <h3>
                            <%= display_votes(posts) %>
                        </h3>

                        <p>Votes: <%= posts.votes.count %></p>
                            <h4>
                                <a href="/users/<%= User.find(posts.user_id).id %>"><%= User.find(posts.user_id).name %></a>
                            </h4>
                    </div>

                    <div class="post-content col-md-10">
                        <p><%= markdown(posts.content) %></p>
                    </div>
                    <div class="col-md-12 post-footer">
                        Posted <%= time_ago_in_words(posts.created_at) %> ago
                    </div>

                    <% if user_signed_in? %>
                        <div class="col-md-12">
                            <a href="/board/:/streams/:/post/<%= posts.id.to_s%>/report"><span class="glyphicon glyphicon-edit"></span>Report</a>
                        <% if validate_mod %>
                            <!-- Moderation Tools -->
                                <% if validate_admin %>
                                    <a href="/board/:/streams/:/post/<%= posts.id.to_s%>/edit"><span class="glyphicon glyphicon-edit"></span>Edit post</a>
                                <% end %>
                                    <%= link_to '<span class="glyphicon glyphicon-trash"></span> Delete Post'.html_safe, board_stream_post_path(stream_id: @stream.id, id: posts.id),
                                        method: :delete,
                                        data: {confirm: 'Are you sure?'} %>
                        <% end %>
                        </div>
                    <% end %>

                </div>
            <% end %>
        </div>

        <div>
            <%= will_paginate @posts, inner_window: 2, outer_window: 2 %>
            <div>
                <%= page_entries_info @posts %>
            </div>
        </div>
    </div>

    <!-- Bottom Navigation -->
    <nav class="container navbar-fixed-bottom bot-nav" role="navigation">
    		<ul class="nav navbar-nav navbar-left hidden-sm hidden-xs">
                <li><a href="/board/<%= @board.id %>/streams/"/><span class="glyphicon glyphicon-step-backward"></span> Back to <%= @board.name %></a></li>
    		</ul>
            <ul class="nav navbar-nav navbar-right">
            <% if validate_mod %>
                <li class="admin-controls admin-button"><a><span class="glyphicon glyphicon-wrench"></span></a></li>
            <% end %>

                <li class="hidden-md hidden-lg"><a href="/board/<%= @board.id %>/streams/"/><span class="glyphicon glyphicon-step-backward"></span> Back to <%= @board.name %></a></li>
                <li><a href="/board/<%= @board.id %>/streams/<%= @stream.id %>/post/new"><span class="glyphicon glyphicon-comment"></span>Reply</a></li>
            </ul>
    </nav>


</div>

<script>
    <% if user_signed_in? %>
        vote();
    <% end %>
</script>
