<div class="container">
    <h1>Edit Post</h1>
    <%= form_for [@board, @stream, @post], url: { :action => "update", } do |f| %>
        <div class="field">
            <%= f.label 'Response: ' %></br>
            <%= f.text_area :content, size: "50x10", required: true %>
        </div>
        <div class="action">
            <%= f.submit 'Submit Post' %>
        </div>
    <% end %>
</div>

<div class="container container-fluid navbar-fixed-bottom bot-nav">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/board/<%= @board_id %>/streams/<%= @stream_id %>"><span class="glyphicon glyphicon-step-backward"></span>Back to Thread</a></li>
    </ul>
</div>
