<div class="container">
    <h1>Add new rules for <%= @board.name %></h1>
    <%= form_tag ('/board/'+@board.id.to_s+'/rules/'), url: { action: "create", } do %>
        <div class="field ruleList">
            <%= render 'new_rule' %>
        </div>

        <a href="javascript:;" class="addRule"><span class="glyphicon glyphicon-plus"></span>Add New Choice</a>
</div>

<div class="container">
    <div class="action">
        <%= submit_tag 'Add rules to '+@board.name %>
    </div>
<% end %>
</div>


<div class="container container-fluid navbar-fixed-bottom bot-nav">
    <ul class="nav navbar-nav navbar-left">
        <li><a href="/board/"/><span class="glyphicon glyphicon-step-backward"></span> Return to Boards</a></li>
    </ul>
</div>

<div style="display: none;" class="new_rule_form">
    <%= render partial: "new_rule" %>
</div>

<script>
    addRule();
</script>
